.panelContainer {
  display: flex;
  margin-left: var(--tl-space-2);
  flex-direction: row;
  padding: var(--tl-space-2) var(--tl-space-4);
  border-radius: var(--tl-radius-4);
  z-index: var(--tl-layer-panels);
  background: var(--tl-color-panel);
  box-shadow: var(--tl-shadow-2);
  max-height: 30%;
}

.scrollableContainer {
  display: block;
  overflow: scroll;
}

.playButton {
  background: var(--tl-color-background);
  border: 1px solid var(--tl-color-low-border);
  border-radius: var(--tl-radius-2);
  padding: var(--tl-space-2);
  outline: none;
  cursor: pointer;

  &:hover {
    background: var(--tl-color-muted-1);
  }
}
